appdirs==1.4.4
blinker==1.4
docutils==0.16
feedgenerator==1.9.1
Jinja2==2.11.2
libsass==0.20.0
MarkupSafe==1.1.1
packaging==20.4
pelican==4.2.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
roman==3.2
six==1.15.0
smartypants==2.0.1
typogrify==2.0.7
Unidecode==1.1.1
