@use "mixins" as *;

.home-page {
	display: flex;
	
	@include down(tablet) {
		flex-direction: column-reverse;
		
		img {
			display: block;
			width: 100%;
		}
	}
	
	p {
		text-align: justify;
	}
}

.social-media-box {
	a {
		display: flex;
		
		&.facebook-link {
			align-items: flex-end;
		}
		
		&.insta-link {
			align-items: center;
		}
		
		i {
			font-size: 1.5em;
		}
	}
}