@use "settings" as *;
@use "mixins" as *;
@use "colours";

#site-header {
    $navbar-height: 75px;
    $navbar-item-width: 100px;

    align-items: center;
    background-color: colours.$gray-2;
    display: flex;
    height: $navbar-height;
    justify-content: space-between;
    margin-bottom: $std-space;
    padding: 0 5vw;

    nav {
        height: $navbar-height;

        a {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            padding: $std-space;
        }
    }

    ul {
        height: $navbar-height;
        margin: 0;
        padding: 0;

        display: flex;
        align-items: stretch;
        list-style-type: none;
    }

    li {
        flex-grow: 0;
        height: $navbar-height;
        min-width: $navbar-item-width;
    }

    li + li {
        margin-left: 24px;
    }
    
    .authors {
        color: colours.$orange-8;
        background-color: colours.$orange-1;
        
        :hover, :focus {
            background-color: colours.$orange-3;
        }
        
        :active {
            color: colours.$orange-5;
        }
    }
    
    .ordering {
        color: colours.$red-8;
        background-color: colours.$red-1;
        
        :hover, :focus {
            background-color: colours.$red-3;
        }
        
        :active {
            color: colours.$red-5;
        }
    }
    
    .series {
        color: colours.$teal-8;
        background-color: colours.$teal-1;
        
        :hover, :focus {
            background-color: colours.$teal-3;
        }
        
        :active {
            color: colours.$teal-5;
        }
    }
    
    .titles {
        color: colours.$blue-8;
        background-color: colours.$blue-1;
        
        :hover, :focus {
            background-color: colours.$blue-3;
        }
        
        :active {
            color: colours.$blue-5;
        }
    }
    
    .online {
        color: colours.$violet-8;
        background-color: colours.$violet-1;
        
        :hover, :focus {
            background-color: colours.$violet-3;
        }
        
        :active {
            color: colours.$violet-5;
        }
    }

    @include down(tablet) {
        nav {
            a {
                width: 15vw;
            }
        }
        
        li {
            width: 15vw;
        }
        
        li + li {
            margin-left: 2vw;
        }
    }

    @include down(mobile) {
        padding: 0;
        nav {
            width: 100%;
            a {
                width: 100%;
            }
        }
        ul {
            flex-grow: 1;
        }
        li {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    .imm-title {
        font-size: 3rem;
        // ".large" title says "Institute of Mediaeval Music" while ".small" says "IMM"
        &.large {
            display: block;
        }
        &.small {
            display: none;
        }

        // Switch between showing the "large" title, the "small" title, and hiding the title.
        @include down(tablet) {
            &.large {
                display: none;
            }
        }
        @include between(mobile, tablet) {
            &.small {
                display: block;
            }
        }

        // Adjust font-size according to the screen width.
        @media (min-width: 1300px) and (max-width: 1350px) {
            font-size: 2.75rem;
        }
        @media (min-width: 1250px) and (max-width: 1300px) {
            font-size: 2.5rem;
        }
        @media (min-width: 1200px) and (max-width: 1250px) {
            font-size: 2.25rem;
        }
        @media (min-width: 1150px) and (max-width: 1200px) {
            font-size: 2rem;
        }
        @media (min-width: 1100px) and (max-width: 1150px) {
            font-size: 1.75rem;
        }
        @media (min-width: 1050px) and (max-width: 1100px) {
            font-size: 1.5rem;
        }
        @media (min-width: calc($tablet-breakpoint + 1px)) and (max-width: 1050px) {
            font-size: 1.25rem;
        }
    }
}