@use "settings" as *;

$sticky-list-nav-vertical-padding: 1rem;

.sticky-list-nav {
	background: $background-colour;
    border: solid 1px $default-colour;
	position: sticky;
	top: $std-space;
    z-index: 1;
	
	ul {
        list-style: none;
        margin: 0 0.5rem;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
	
	a {
        color: $link-colour;
        padding: 1rem 0.5rem;
		display: inline-block;

        &:hover, &:focus {
            background-color: $link-colour;
            color: $background-colour;
        }

        @media (max-width: 750px) {
            padding: $sticky-list-nav-vertical-padding 1rem;
        }
    }
}