@use "variables" as *;

$sticky-list-nav-vertical-padding: 1rem;

.sticky-list-nav {
	background: var(--background-color);
    border: solid 1px var(--default-color);
	position: sticky;
	top: $std-space;
    z-index: 1;
	
	ul {
        list-style: none;
        margin: 0 0.5rem;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
	
	a {
        color: var(--link-color);
        padding: 1rem 0.5rem;
		display: inline-block;

        &:hover, &:focus {
            background-color: var(--link-color);
            color: var(--background-color);
        }

        @media (max-width: 750px) {
            padding: $sticky-list-nav-vertical-padding 1rem;
        }
    }
}