$std-space: 1rem;
:root { --std-space: #{$std-space}; }

$data-categories: authors series titles news;
$data-categories-with-ordering: authors ordering series titles news;

$line-width: 1px;

$sticky-list-nav-zindex: 1;