<!DOCTYPE html>
<html lang="en">
	<head>
		{% if page.url == "/" %}
			<title>The Institute of Mediaeval Music</title>
		{% else %}
			<title>{{ page.title | default: page.name }} | The Institute of Mediaeval Music</title>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
		<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="32x32">
		<link rel="icon" href="{{ '/assets/img/favicon.svg' | relative_url }}" type="image/svg+xml">
		<link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}" sizes="180x180">
		<link rel="manifest" href="{{ '/manifest.json' | relative_url }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script>
			// Pass the special character mapping to JS for searching
			const charMappings = {{ site.data.character_map | jsonify }};
			const specialCharRegex = new RegExp(Object.keys(charMappings).map((char) => char.replace(/([.?*+^$[\]\\(){}|-])/g, '\\$1')).join('|'), 'g');
			const searchString = (haystack, needle) => {
				// Clean up any look alike characters and apply normalization
				const cleanedNeedle = needle.replace(specialCharRegex, (match) => charMappings[match]).normalize("NFD").replace(/[\u0300-\u036F]/g, '').replace(/\s+/g, ' ');
				const cleanedHaystack = haystack.replace(specialCharRegex, (match) => charMappings[match]).normalize("NFD").replace(/[\u0300-\u036F]/g, '').replace(/\s+/g, ' ');
				return cleanedHaystack.includes(cleanedNeedle);
			};
		</script>
	</head>
	<body>
		{% include navbar.html %}
		<main>
			{{ content }}
		</main>
		<footer>
			Last Updated: {{ site.time | date_to_long_string: "ordinal", "US" }}
		</footer>
	</body>
</html>