<!DOCTYPE html>
<html>
	<head>
		{% if page.url == "/" %}
			<title>Institute of Mediaeval Music</title>
		{% else %}
			<title>{{ page.title | default: page.name }} | Institute of Mediaeval Music</title>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
	</head>
	<body>
		<header id="site-header">
			<nav aria-label="Main navigation">
				<ul>
					<li class="ordering"><a href="{{ '/ordering' | relative_url }}"><span>Ordering</span></a></li>
					<li class="authors"><a href="{{ '/authors' | relative_url }}"><span>Authors</span></a></li>
					<li class="series"><a href="{{ '/series' | relative_url }}"><span>Series</span></a></li>
					<li class="titles"><a href="{{ '/titles' | relative_url }}"><span>Titles</span></a></li>
					<li class="online"><a href="{{ '/online' | relative_url }}"><span>Open Access</span></a></li>
				</ul>
			</nav>
			<a class="imm-title small" href="{{ '/' | relative_url }}">
				IMM
			</a>
			<a class="imm-title large" href="{{ '/' | relative_url }}">
				Institute of Mediaeval Music
			</a>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			<img class="logo" src="{{ '/assets/img/IMM-logo-narrow.svg' | relative_url }}" />
			<div class="updated-at">Last Updated: {{ site.time | date_to_long_string: "ordinal", "US" }}</div>
			<!--{{ site.time | date: "%B %Y" }}-->
		</footer>
	</body>
</html>