<!DOCTYPE html>
<html>
	<head>
		<title>Institute of Medieval Music</title>
		<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
	</head>
	<body>
	<header id="site-header">
		<nav>
			<ul>
				<li class="ordering with-bg"><a href="/ordering"><span>Ordering</span></a></li>
				<li class="authors with-bg"><a href="/authors"><span>Authors</span></a></li>
				<li class="series with-bg"><a href="/series"><span>Series</span></a></li>
				<li class="titles with-bg"><a href="/titles"><span>Titles</span></a></li>
				<li class="news with-bg"><a href="/news"><span>News</span></a></li>
			</ul>
		</nav>
		<a class="imm-title small" href="/">
			IMM
		</a>
		<a class="imm-title large" href="/">
			Institute of Mediaeval Music
		</a>
	</header>
		{{ content }}
	</body>
</html>